/**
 * The Roundlings stylesheet
 *
 * http://roundlings.com
 */

:root {
  --primary: #03A9F4;
}

html {
  font-size: 24px;
}

body {
  background-color:#fff;
  height:100%;
  font-size:24px;
  font-family:'Gaegu', Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0,0,0,.87);
  -webkit-font-smoothing:antialiased;
}

a,
a:hover {
  color: var(--primary);
}

hr {
  border-top:1px solid rgba(255,255,255,0.38);
}

hr.space {
  clear:both;
  margin:0;
  height:24px;
  border:none;
}
hr.space-double {
  clear:both;
  margin:0;
  height:48px;
  border:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0 0 24px;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

/****************************
 * Nav
 */

nav > a {
  display: inline-block;
  padding: 0 8px;
  font-weight: bold;
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

nav > a:hover {
  color: var(--primary);
  text-decoration: none;
}

nav > a > .fab {
  vertical-align: -2px;
}

nav > a:last-child {
  margin-right: 0;
}

/****************************
 * Header
 */

header h1 {
  margin: 0 0 -16px 0;
  font-size: 3rem;
}

header h2 {
  margin: 0;
  font-size: 1.5rem;
}

header a {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

/****************************
 * Arrows
 */

.rr-arrows {
  font-size: 2rem;
}

.rr-arrows a {
  display: inline-block;
  padding: 0 16px;
  color: rgba(0,0,0,.87);
}

.rr-arrows a:hover {
  color: var(--primary); 
}

/****************************
 * Share buttons
 */

.rr-share {
  line-height:1em;
  font-size: 1.5rem;
}
.rr-share a {
  display:inline-block;
  padding-left: 16px;
  color: rgba(0,0,0,.87);
  opacity:0.5;
  transition:opacity 300ms;
}
.rr-share a:hover {
  opacity:1;
}


/****************************
 * Post item
 */

.post-item {
  margin-bottom:30px;
}
  .post-item:hover {
    text-decoration:none;
  }

.post-body {
  /* Do nothing */
}

/****************************
 * Page types
 */

.container-posts {
  margin-top:15px;
  margin-bottom:15px;
}

/****************************
 * Responsive
 */

/* Small */
@media (min-width: 768px) {
}

/* Medium */
@media (min-width: 992px) {s
}

/* Large */
@media (min-width: 1200px) {

  .container-posts {
    margin-top:40px;
    margin-bottom:40px;
  }
}