/**
 * The Roundlings stylesheet
 *
 * http://roundlings.com
 */

html, body {
  background-color:#44a9eb;
  height:100%;
  font-family:'Sniglet';
  color:#fff;
}

a,
a:hover {
  color:#fc0;
}

.header {
  padding-bottom:30px;
}
.header h1 {
  line-height:60px;
  font-size:60px;
  font-weight:800;
  color:#fff;
}
.header h1>span {
  display:block;
  line-height:30px;
  font-size:30px;
  font-weight:400;
  color:#fc0;
}
.header h2 {
  margin:-7px 0 0 240px;
  padding:0;
  line-height:15px;
  font-size:15px;
  font-weight:400;
  opacity:0.5;
}

.logo {
  width:90%;
  max-width:400px;
}

.social {
  font-size:30px;
}
.social a {
  display:block;
  float:left;
  margin-right:10px;
  color:#fff;
  opacity:0.5;
  transition:opacity 300ms;
}
.social a:hover {
  opacity:1;
}

.post-item {
  margin:0 0 20px;
  color:#fff;
}
  .post-item:hover {
    color:#fff;
    text-decoration:none;
  }
.post-img {
  margin-bottom:8px;
}
.post-title {
  font-size:16px;
  line-height:20px;
}
.post-date {
  font-size:16px;
  line-height:20px;
  opacity:0.5;
}

/* Small */
@media (min-width: 768px) {

  .header h1 {
    line-height:64px;
    font-size:64px;
  } 
  .header h1>span {
    line-height:32px;
    font-size:32px;
  }
  .header h2 {
    margin-top:-8px;
    margin-left:260px;
    line-height:16px;
    font-size:16px;
  }

  .social {
    font-size:32px;
  }


}

/* Medium */
@media (min-width: 992px) {
  .header {
    padding-top:48px;
  }
  .header h1 {
    line-height:72px;
    font-size:72px;
  } 
  .header h1>span {
    line-height:36px;
    font-size:36px;
  }
  .header h2 {
    margin-top:-9px;
    margin-left:290px;
    line-height:18px;
    font-size:18px;
  }

  .logo {
    max-width:90%;
  }

  .container-index {
    margin-top:64px;
    margin-bottom:64px;
  }

  .container-posts .header {
    padding-top:0;
  }
}

/* Large */
@media (min-width: 1200px) {
  .header {
    padding-top:120px;
  }
  .header h1 {
    line-height:80px;
    font-size:80px;
  }
  .header h1>span {
    line-height:40px;
    font-size:40px;
  }
  .header h2 {
    margin-top:-10px;
    margin-left:320px;
    line-height:20px;
    font-size:20px;
  }

  .social {
    font-size:40px;
  }

  .post-item {
    margin-bottom:80px;
  }

  .container-index {
    margin-top:120px;
    margin-bottom:120px;
  }

  .container-posts {
    margin-top:40px;
    margin-bottom:40px;
  }
  .container-posts .header {
    padding-top:0;
  }
}