<form action="https://tinyletter.com/roundlings" 
      method="post"
      target="_blank">
  <p>
    Receive drawings and updates in your inbox.
  </p>

  <input type="hidden" value="1" name="embed"/>

  <input type="text"
         name="email"
         id="tlemail"
         placeholder="Email address"
         class="form-control"
         style="display:inline-block;
                width:160px;" />
  
  <input type="submit" 
         value="Subscribe"
         class="btn btn-default"
         style="display;inline-block;" />

</form>