<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign excerpt = page.excerpt | strip_html | truncatewords: 50 %}
  {% assign excerpt_size = excerpt | size %}
  {% if excerpt_size > 0 %}
    <meta name="description" content="{{ excerpt }}">
  {% else %}
    <meta name="description" content="Follow the adventures of cute colorful characters called The Roundlings.">
  {% endif %}

  {% if page.title %}
    <title>{{ page.title }} - Roundlings</title>
  {% else %}
    <title>Roundlings by Ian Li</title>
  {% endif %}

  <!-- Stylesheets -->
  <link href="//fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap" rel="stylesheet">
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link href="/css/roundlings.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <div class="pt-3 pb-4">
    {% include nav.html %}
  </div>

  <header class="pb-4 text-center">
    <a href="/">
      <h1>
        Roundlings
      </h1>
      <h2>
        by ianli
      </h2>
    </a>
  </header>

  {{ content }}

  <footer class="pt-4 pb-4 text-center">
    {% include nav.html %}

    <p class="pt-4">
      Copyright (c) 2014-{{ site.time | date: '%Y' }} Ian Li
    </p>
  </footer

  {% include analytics.html %}

</body>
</html>