---
layout: default
---
<div class="container
            container-posts">
  <div class="row">

    <div class="col-xs-12
                col-md-offset-3 col-md-6
                header">

      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/roundlings-logo.svg"
             class="logo"
             alt="The Roundlings by Ian Li"
             title="The Roundlings by Ian Li">
      </a>

    </div>

    <div class="col-xs-6
                col-md-offset-3 col-md-3
                social">

      <a href="https://www.facebook.com/roundlings">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="https://twitter.com/roundlings">
        <i class="fa fa-twitter-square"></i>
      </a>

    </div>

    <div class="col-xs-6
                col-md-3
                actions">

      <div style="float:right">

        {% if page.next %}
          <a href="{{ page.next.url }}">
            <i class="fa fa-arrow-circle-left"></i>
          </a>
        {% endif %}

        {% if page.previous %}
          <a href="{{ page.previous.url }}">
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        {% endif %}

      </div>

    </div>


    <div class="col-xs-12
                col-md-offset-3 col-md-6
                metadata">

      <div class="post-title">{{ page.title }}</div>
      <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
      
    </div>

    <div class="col-xs-12">

      {{ content }}

    </div>
  </div>
</div>