---
layout: default
---
<div class="container
            container-posts">
  <div class="row">

    <div class="col-xs-12
                col-md-offset-3 col-md-6
                header">

      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/roundlings-logo.svg"
             class="logo"
             alt="The Roundlings by Ian Li"
             title="The Roundlings by Ian Li">
      </a>

      <div class="social
                  clearfix">
        <a href="https://www.facebook.com/roundlings">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/roundlings">
          <i class="fa fa-twitter-square"></i>
        </a>
      </div>

    </div>

    <div class="col-xs-12
                col-md-offset-3 col-md-6">

      <img src="/{{ page.image | replace: '<!--format-->', '640.png' }}"
           class="img-rounded
                  img-responsive
                  post-img">

      <div class="post-title">{{ page.title }}</div>
      <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>

    </div>
  </div>
</div>