---
layout: default
---
<div class="container
            container-posts">
  <div class="row">
    <div class="col-12
                text-center
                rr-arrows">

      {% if page.next %}
        <a href="{{ page.next.url }}">
          <i class="fas fa-angle-left"></i>
        </a>
      {% endif %}

      {% if page.previous %}
        <a href="{{ page.previous.url }}">
          <i class="fas fa-angle-right"></i>
        </a>
      {% endif %}

    </div>
  </div>
</div>

{{ content }}

<div class="container
            container-posts">
  <div class="row">

    <hr class="space">

    <!-- Share Buttons -->
    <div style="margin:0 auto;">
      Share:
      
      <span class="rr-share">
        <a href="https://www.facebook.com/dialog/share?app_id=311536139038646&display=popup&href=http://{{ site.hostname }}{{ page.url }}&redirect_uri=http://{{ site.hostname }}{{ page.url }}">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://{{ site.hostname }}{{ page.url }}"
           title="Share on Twitter"
           target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="http://pinterest.com/pin/create/link/?url=http://{{ site.hostname }}{{ page.url }}&media=http://{{ site.hostname }}{{ page.image_large }}&description={{ page.title }}"
           target="_blank">
          <i class="fab fa-pinterest"></i>
        </a>
      </span>

    </div>

  </div>
</div>